<footer class="site-footer">
  <div class="container footer-inner">
    <div>
      <div class="footer-name">Md. Kawsher Mahbub</div>
      <div class="footer-copy">© <span id="year"></span> · Assistant Professor, NPI University of Bangladesh · All rights reserved</div>
    </div>
    <div class="footer-socials" aria-label="Social links">
      <a href="https://orcid.org/0000-0002-4200-542X" title="ORCID">
        <img src="assets/icon-orciid.svg" alt="ORCID">
      </a>
      <a href="https://scholar.google.com/citations?user=fQ_TTFsAAAAJ&hl=en" title="Google Scholar">
        <img src="assets/icons-google-scholar.png" alt="Google Scholar">
      </a>
      <a href="https://www.researchgate.net/profile/Md-Kawsher-Mahbub" title="ResearchGate">
        <img src="assets/icons-researchgate.png" alt="ResearchGate">
      </a>
      <a href="https://github.com/Kawsher" title="GitHub">
        <img src="assets/icon-github.png" alt="GitHub">
      </a>
      <a href="mailto:kawsher.cse@gmail.com" title="Email">
        <img src="assets/icon-email.png" alt="Email">
      </a>
      <a href="https://www.linkedin.com/in/kawsher-mahbub/" title="LinkedIn">
        <img src="assets/icons-linkedin.png" alt="LinkedIn">
      </a>
      <a href="https://x.com/kawsher_mahbub" title="X / Twitter">
        <img src="assets/icons-twitter.png" alt="X">
      </a>
      <a href="https://www.facebook.com/kawsher.cse" title="Facebook">
        <img src="assets/icons8-facebook-48.png" alt="Facebook">
      </a>
    </div>
  </div>
</footer>
<button id="back-top" title="Back to top" aria-label="Back to top">↑</button>
