<footer class="site-footer">
  <div class="container footer-grid">
    <div>© <span id="year"></span> Md. Kawsher Mahbub · All rights reserved</div>
    <div class="socials" aria-label="Social links">
      <a href="https://orcid.org/0000-0002-4200-542X" title="ORCID iD">
        <img src="assets/icon-orciid.svg" alt="ORCID iD icon">
      </a>
      <a href="https://scholar.google.com/citations?user=fQ_TTFsAAAAJ&hl=en" title="Google Scholar">
        <img src="assets/icons-google-scholar.png" alt="Google Scholar icon">
      </a>
      <a href="https://www.researchgate.net/profile/Md-Kawsher-Mahbub" title="ResearchGate">
        <img src="assets/icons-researchgate.png" alt="ResearchGate icon">
      </a>
      <a href="https://github.com/Kawsher" title="GitHub">
        <img src="assets/icon-github.png" alt="GitHub icon">
      </a>
      <a href="mailto:kawsher.cse@gmail.com" title="Email">
        <img src="assets/icon-email.png" alt="Email icon">
      </a>
      <a href="https://www.linkedin.com/in/kawsher-mahbub/" title="LinkedIn">
        <img src="assets/icons-linkedin.png" alt="LinkedIn icon">
      </a>
      <a href="https://www.facebook.com/kawsher.cse" title="Facebook">
        <img src="assets/icons8-facebook-48.png" alt="Facebook icon">
      </a>
    </div>
  </div>
</footer>
